<app-navbar ></app-navbar>
<div class="movie-container">
  <div class="content">

    <div class="movie-section">
      <div class="movie-poster">
        <img src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="">
      </div>
      <div class="movie-info">
       <h2>Título: {{movie.title}}</h2>
       <h2>Valoración: {{movie.vote_average}}</h2>
       <h2>Sinopsis: </h2>
       <p>{{movie.overview}}</p>
       <h2>Géneros:</h2>
       <div class="genre" *ngFor="let genre of movie.genres">
         <p>{{genre.name}}</p>
       </div>
       <h2>Fecha de estreno: {{movie.release_date}}</h2>

      </div>
    </div>

    <div class="movie-reviews">

    </div>
  </div>
</div>
